body {
    background-image: url("./image/images_copy.jpeg");
    /*background-size: 100%;
    moz-background-size: 100%;*/
}

.container {
    width: 77%;
    margin: auto;
    padding: 0%;
    background: white;
    border: solid,white;
    height: 100%;
}

.language {
    border: solid #fa8368;
    text-decoration: none;
    font-variant: small-caps;
    background-color: #fa8368;
    margin: auto;
    height: 4%;
}

.language ul {
    margin: 0;
    float: right;
}

.language li:hover {
    text-decoration: underline;
}

.language a {
    color: #fff;
}

.delivery-text {
    width: 100%;
    height: 4%;
}

.delivery-text p {
    float: right;
    margin: 0;
}

.social-network {
    height: 7%;
    width: 100%;
}

.social-network img {
    float: right;
    margin: 0;
}

.passive-menu {
    color: #E0E0E0;
    width: 100%;
    height: 4%;
}

.passive-menu ul {
    margin: 0;
    float: right;
}

.passive-menu li:hover {
    background: #A8A8A8 ;
    text-decoration: none;
}

a {
   text-decoration: none;
   font-variant: small-caps;
   color: #E0E0E0;
}

li {
    display: inline;
    margin: 5px;
    text-decoration: none;
}

.menu {
    border: solid #fa8368;
    background-color:  #fa8368;
}

.menu ul {
    margin: 0%;
    padding: 1%;
}

.menu li {
    margin: auto;
    with: 1%;
    padding: o%;
}

.menu a {
    margin: 1%;
    color:  #fff;
    padding: 1%;
}

.menu a:hover {
    color: black;
}

.content {
    margin: auto;
    width: 100%;
}

.slide {
    display: inline;
}

.slide img {
    width: 60%;
}

.images {
    display: inline;
}

.images .image {
    width: 40%;
}

.image-details {
    width: 10%;
    display: inline;
    border: 3px solid #73AD21;
}

.description {
    width: 25%;
    display: inline;
}
