body {
    background-image: url("./image/images_copy.jpeg");
    /*background-size: 100%;
    moz-background-size: 100%;*/
}
li {
    display: inline;
    margin: 5px;
    text-decoration: none;
}
.p {
    position: absolute;
    right: 14%;
    top: 1%;
    margin: 5px;
}
.a {
    position: absolute;
    right: 14%;
    top: 60px;
    color: #E0E0E0;
}
a {
   text-decoration: none;
   font-variant: small-caps;
   color: #E0E0E0;
}
.a li:hover {
            background: #A8A8A8 ;
            text-decoration: none;
}
.img {
      position: absolute;
      top: 46px;
      right: 14%;
}
.ar {
     position: absolute;
     border: solid #fa8368;
     width: 76%;
     height: 21px;
     top: 0px;
     text-decoration: none;
     font-variant: small-caps;
     background-color: #fa8368;
     margini: autoi;
}
.ar ul{
       position: absolute;
       right: 3%;
       margin: 0%;
   }
.ar li:hover {
              text-decoration: underline;
}
.c {
    border: solid #fa8368;
    background-color:  #fa8368;
    position: absolute;
    top: 110px;
    width: 76%;
    height: 7%;
}
.c ul{
      position: absolute;
      right: 1%;
      margin: 0%;
}
.c li {
       margin: 50px;
}
.c a {
      color:  #fff;
}
.ar a {
       color:  #fff;
}
.c a:hover {
            color: black;
}
.slide {
    position: relative;
    margin: auto;
}
.b {
    width: 77%;
    margin: auto;
    padding: 0%;
    background: white;
    border: solid,white;
    height: 100%;
}
#mek {
    position: absolute;
    margin: auto;
    width: 42%;
    left: 0%;
    height: 160%;
    padding: 3%;
    top: 76%;
}
#erku {
    position: relative;
    margin: auto;
    left: 49%;
    padding: 3%;
    width: 24%;
    height: 24%;
    top: 230;
}
#ereq {
    position: relative;
    margin: auto;
    left: 19%;
    padding: 3%;
    top: 480px;
    height: 24%;
    width: 24%
}    
